.general {
  background: $color-light;
  box-shadow: 0 0 4px $color-text;

  h2 {
    @include text-capitalize(1.2 * $base-size);
    margin-left: $base-size;
    padding-top: $base-size;
  }
}

.calendar {
  margin: 2 * $base-size;
  justify-content: center;

  div {
    border: 1px solid $color-text;
    // margin: -1px;
    line-height: $btn-height;

    input[type="date"] {
      position: relative;
      background: $color-light;
      border: none;
      margin: 6px;
      max-width: 40%;

      &:last-child {
        max-width: 60%;
      }
      
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        display: none;
      }

      &:last-child::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        opacity: 1;
        background: url(../icons/calendar.svg) no-repeat;
        width: 10px;
        height: 10px;
      }
    }

    input[type="date"]:first-child:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: $color-text;
      width: 1px;
      //   height: 100%;
      //   border-right: 1px solid $color-text;
    }
  }

  a {
    @include btn($color-main, $color-light, $color-main);
    margin-left: $base-size;
  }
}

.numbers {
  justify-content: center;

  .numbers-left {
    width: 35%;
    margin-right: 2 * $base-size;
  }

  .numbers-right {
    width: 35%;
    margin-left: 2 * $base-size;
  }

  .line-1, .line-2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-text;

    p {
      display: inline-block;

      &:first-of-type {
        font-weight: $font-semibold;
      }

      &:last-child {
        font-size: 1.1 * $base-size;
        color: $color-dark;
      }
    }
  }
}

.chart {
  justify-content: center;

  .chart-wrapper {
    max-width: calc(70% + 48px);

    p {
      font-weight: $font-semibold;
      margin: (4 * $base-size) 0 (2 * $base-size);
    }
  }

  .buttons {
    justify-content: center;
    margin-bottom: 2 * $base-size;

    a {
      @include btn($color-light, $color-text, $color-light);
      position: relative;
      padding-left: 3 * $base-size;
      text-transform: none;

      &:nth-of-type(1)::before {
        content: '';
        position: absolute;
        top: 50;
        left: 10%;
        background: $color-link;
        border-radius: 50%;
        width: $base-size;
        height: $base-size;
      }

      &:nth-of-type(2) {
        margin: 0 (2 * $base-size);
      
        &::before {
          @extend a:nth-of-type(1)::before;
          background: $color-main;
        }
      }

      &:nth-of-type(3)::before {
        @extend a:nth-of-type(1)::before;
        background: $color-success;
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin-bottom: 2 * $base-size;
  }
}

@media not all and (hover:none) {
  .chart .buttons a:hover {
    background-color: $color-body;
  }
}

@media(max-width: 767px) {
  .calendar {
    align-items: center;

    div {
      flex-direction: column;

      input[type="date"] {
        max-width: 100%;
        margin: 0;
        padding: $base-size (2 * $base-size);

        &:last-child {
          max-width: 100%;
          border-top: 1px solid $color-text;
        }

        &:first-child::-webkit-calendar-picker-indicator {
          color: rgba(0, 0, 0, 0);
          opacity: 1;
          background: url(../icons/calendar.svg) no-repeat;
          width: 10px;
          height: 10px;
        }
      }

      input[type="date"]:first-child:after {
        width: 0;
      }
    }
  }

  .numbers {
    flex-direction: column;
    align-items: center;

    .numbers-left {
      width: 80%;
      margin-right: 0;
    }
  
    .numbers-right {
      width: 80%;
      margin-left: 0;
    }
  }

  .chart .buttons {
    flex-wrap: wrap;
  }
}